.ssh/
.gem/
.heroku/
.emacs.d/elpa/*theme*
.emacs.d/semanticdb/
.bash_history
.cache/
.emacs.d/auto-save-list/
.rvm/
.subversion/
.zlogin
.cask
.docsets
.bash_profile
.bashrc
.gitconfig
.minttyrc
.netrc
.profile